@font-face 
{
	font-family: 'musicFont'; /*a name to be used later*/
	src: url('music.ttf'); /*URL to font*/
}
body 
{
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.container 
{
	width: 100%;
}

.wrapper
{
    text-align: center;
    margin: 80px 50px 80px 50px;
    padding: 16px;
    background-color: #f1f3f4;
    border-radius: 7px;
	border: 1px solid #ddd;
}

#lyricswrapper
{
	text-align: left;
	float: left;
	margin: 80px 0px 80px 16px;
	font-size: 9px;
	padding: 16px;
	background-color: lightgray;
	border-radius: 7px;
	width: 300px;
	line-height: 18px;
}


.box
{
	font-size: 11px;
	color: black;
	cursor: pointer;
	padding: 6px 4%;
	background-color: #0000;
	margin: 5px 0px;
	text-align: left;
	width: 92%;
	border-radius: 5px;
}
.box:hover
{
	background-color: #eee;
}

.albumBox
{
	color: black;
	cursor: pointer;
	margin: 5px;
	display: inline-block;
	background-color: #0000;
	border-radius: 5px;
	width: 90px;
	vertical-align: top;
}
.albumBox:hover
{
	background-color: #eee;
}

p 
{
	
}

.albumBoxText
{
	padding: 5%;
	display: block;
	position: relative;
	text-align: center;
	font-size: 11px;
	text-align: center;
}

.boxTextLeft
{
	padding-left: 30px;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}
.boxTextRight
{
	margin-left: 20px;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

#topBar
{
	user-select: none;
	background-color: #f1f3f4;
	top: 0px;
	position: fixed;
	width: 100%;
	height: 54px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}
#backButton
{
	cursor: pointer;
	width: 20vw;
	text-align: center;
	font-family: 'musicFont';
	margin: 9px 0px;
	display: inline-block;
	font-size: 25px;
	-webkit-transition: color .2s;
	transition: color .2s;
}
#backButton:hover
{
	color: #444;
}
#curSongDisplay
{
	position: fixed;
	margin-top: 18px;
	font-size: 16px;
	text-align: center;
	display: inline-block;
	width: 60vw;
}
#styleButton
{
	visibility: visible;
	cursor: pointer;
	font-family: 'musicFont';
	margin: 9px 15vw 0px 0px;
	float: right;
	font-size: 25px;
	-webkit-transition: color .2s;
	transition: color .2s;
}
#styleButton:hover
{
	color: #444;
}
#controlBar
{
	user-select: none;
	text-align: center;
	background: #f1f3f4;
	bottom: 0px;
	position: fixed;
	width: 100%;
	height: 54px;
	border-top: 1px solid #ddd;
}
audio
{
	background: #f1f3f4;
    width: 50vw;
    min-width: 300px;
}

.controlBarButton
{
	margin:  9px;
	cursor: pointer;
	font-family: 'musicFont';
	display: inline-block;
	font-size: 1.5em;
}
.controlBarButton:hover
{
	color: #444;
}

.controlBarPrevButton
{
	float:  left;
}
.controlBarNextButton
{
	float:  right;
}

#rightclickdiv 
{
	border: 2px solid lightgray;
	margin-left: 38vw;
	padding: 20px;
	position: fixed;
	background-color: #ddd;
	margin-top: 25vh;
	width: 200px;
	text-align: left;
	border-radius: 7px;
}
#closerightclickdiv 
{
	cursor: pointer;
	width: 14px;
	float:right
}
#closelyricsdiv 
{
	cursor: pointer;
	width: 20px;
	float:right
}
ul 
{
	margin: 0px;
	padding: 0px;
}
li 
{
	cursor: pointer;
	width: 80%;
	padding: 8px;
	margin: 6px 0px;
	list-style-type: none;
	border-radius: 5px;
	-webkit-transition: background-color .4s;
	transition: background-color .4s;
}
li:hover
{
	background-color: #aaa;
}

#lyricsdiv
{
	border: 1px solid black;
	align-content: center;
	margin-left: 23vw;
	padding: 20px;
	position: fixed;
	background-color: #fafafa;
	margin-top: 10vh;
	width: 50%;
}